body {
    font-family: 'Arial', sans-serif;
    background-color: #f4f4f4;
    color: #333;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

header {
    background-color: #0066cc;
    color: white;
    padding: 20px;
    text-align: center;
    width: 100%;
}

h1 {
    font-size: 2.5rem;
}

nav ul {
    list-style: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin-right: 20px;
}

nav ul li a {
    color: white;
    text-decoration: none;
    font-size: 1.2rem;
}

section {
    margin: 20px;
    padding: 20px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 80%;
}

#robot .image-container {
    display: flex;
    justify-content: space-around;
}

#robot img {
    width: 30%;
    border-radius: 10px;
    border: 2px solid #0066cc;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

h2 {
    color: #0066cc;
    font-size: 1.8rem;
    margin-bottom: 10px;
}

ul {
    list-style-type: square;
    padding-left: 20px;
}

footer {
    margin-top: auto;
    background-color: #0066cc;
    color: white;
    padding: 10px;
    text-align: center;
    width: 100%;
}

#codigo {
    text-align: center;
}

#codigo-contenido {
    display: none;
    background-color: #333;
    color: #fff;
    padding: 20px;
    border-radius: 5px;
    margin-top: 10px;
    white-space: pre-wrap;
    word-wrap: break-word;
    width: 100%;
}

#mostrar-codigo {
    background-color: #0066cc;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

#mostrar-codigo:hover {
    background-color: #004d99;
}

@media (max-width: 600px) {
    h1 {
        font-size: 2rem;
    }

    h2 {
        font-size: 1.5rem;
    }

    #robot img {
        width: 90%;
        margin-bottom: 10px;
    }

    nav ul li {
        display: block;
        margin: 10px 0;
    }
}
